<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <h1>Rock Paper Scissors</h1>
        <main>
            <h2>Play:</h2>
            <form method="POST" action="/rock">
                <input type="submit" value="Rock">
            </form>
            <form method="POST" action="/paper">
                <input type="submit" value="Paper">
            </form>
            <form method="POST" action="/scissors">
                <input type="submit" value="Scissors">
            </form>
        </main>
    </body>
</html>